In [1]:
# importing relevant modules
import pandas as pd
import numpy as np
import pymysql

In [2]:
# displaying options for data frames
pd.set_option("display.max_columns", 5400)
pd.set_option("display.max_colwidth", 500)

# reading the original data set from csv to data frame and examnine columns
df = pd.read_csv("GSAF5.csv", encoding = "ISO-8859-1")
df.head(30)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.15.R-boat.pdf,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.11-PonteVedra.pdf,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,51,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.07-Oahu.pdf,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,50,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.06-Jewell.pdf,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,12,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.05.b-Williams.pdf,2016.09.05.b,2016.09.05.b,5984,NaN,NaN
10,2016.09.05.a,05-Sep-16,2016,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,NaN,"No inury, board broken in half by shark",N,Late afternoon,NaN,"Perth Now, 9/5/2016",2016.09.05.a-Penman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.05.a-Penman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.05.a-Penman.pdf,2016.09.05.a,2016.09.05.a,5983,NaN,NaN
11,2016.09.04,04-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,Austin Moore,M,9,Foot bitten,N,NaN,NaN,"Orlando Sentinel, 9/7/2016",2016.09.04-Moore.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.04-Moore.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.04-Moore.pdf,2016.09.04,2016.09.04,5982,NaN,NaN
12,2016.09.01,01-Sep-16,2016,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,Tyler McQuillen,M,22,Two toes broken & lacerated,N,NaN,White shark,"R. Collier, GSAF",2016.09.01-McQuillen.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.01-McQuillen.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.01-McQuillen.pdf,2016.09.01,2016.09.01,5981,NaN,NaN
13,2016.08.29.b,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sam Cumiskey,M,25,Lacerations to right foot,N,15h00,"Bull shark, 6'","News Channel 8, 8/30/16",2016.08.29.b-Cumiskey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.29.b-Cumiskey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.29.b-Cumiskey.pdf,2016.08.29.b,2016.08.29.b,5980,NaN,NaN
14,2016.08.29.a,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,37,Minor injury to ankle,N,14h00,NaN,"News Channel 8, 8/30/16",2016.08.29.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.29.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.29.a-NSB.pdf,2016.08.29.a,2016.08.29.a,5979,NaN,NaN
15,2016.08.27,27-Aug-16,2016,Unprovoked,REUNION,NaN,Boucan Canot,Surfing,Laurent Chardard,M,20,"Right arm severed, ankle severely bitten",N,17h00,"Bull shark, 3.5 m","LaDepeche, 8/29/2016",2016.08.27-Chardard.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.27-Chardard.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.27-Chardard.pdf,2016.08.27,2016.08.27,5978,NaN,NaN
16,2016.08.25,25-Aug-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,David Cassetty,M,49,Minor injury to ankle,N,16h00,NaN,"First Coast News, 7/25/2016",2016.08.25-Cassetty.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.25-Cassetty.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.25-Cassetty.pdf,2016.08.25,2016.08.25,5977,NaN,NaN
17,2016.08.07,07-Aug-16,2016,Unprovoked,BAHAMAS,New Providence Island,Nassau,Snorkeling,Johnny Stoch,M,15,Lacerations to left leg,N,NaN,NaN,"ABC, 8/11/2016",2016.08.07-Stoch.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.07-Stoch.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.07-Stoch.pdf,2016.08.07,2016.08.07,5976,NaN,NaN
18,2016.08.06,06-Aug-16,2016,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,21,"No inury, shark & board collided",N,NaN,"Tiger shark, 10'","SUP, 8/9/2015",2016.08.06-Baxter.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.06-Baxter.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.08.06-Baxter.pdf,2016.08.06,2016.08.06,5975,NaN,NaN
19,2016.08.04,04-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Tyler,M,22,Big toe bitten,N,NaN,Blacktip shark,"News 965, 8/5/2016",2016.06.04-Tyler.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.06.04-Tyler.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.06.04-Tyler.pdf,2016.08.04,2016.08.04,5974,NaN,NaN
20,2016.07.29,29-Jul-16,2016,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,Lacerations to right hand,N,11h30,Blue shark,"Informacion.es, 7/29/2016",2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf,2016.07.29,2016.07.29,5973,NaN,NaN
21,2016.07.28.R,28-Jul-16,2016,Unprovoked,CHINA,Hong Kong,NaN,Swimming,Justus Franz,M,72,Lacerations to leg,N,NaN,NaN,"Klassick, 7/28/2016",2016.07.28.R-Franz.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.28.R-Franz.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.28.R-Franz.pdf,2016.07.28.R,2016.07.28.R,5972,NaN,NaN
22,2016.07.28,28-Jul-16,2016,Boat,AUSTRALIA,Western Australia,Near Albany,Kayaking,Ian Watkins,M,NaN,"No injury, shark nudged kayak repeatedly",N,NaN,White shark,"ABC Australia, 7/28/2016",2016.07.28-Watkins.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.28-Watkins.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.28-Watkins.pdf,2016.07.28,2016.07.28,5971,NaN,NaN
23,2016.07.27,27-Jul-16,2016,Provoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,Warren Sapp,M,43,Laceration to left forearm PROVOKED INCIDENT,N,NaN,"Nurse shark, 4'","Tampa Bay Times, 7/27/2016",2016.07.27-Sapp.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.27-Sapp.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.27-Sapp.pdf,2016.07.27,2016.07.27,5970,NaN,NaN
24,2016.07.26,26-Jul-16,2016,Unprovoked,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,Curran See & Harry Lake,M,18,"No injury. Leg rope severed, knocked off board by shark",N,12h00,NaN,"Gold Coast Bulletin, 7/28/2016",2016.07.26-Ballina.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.26-Ballina.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.26-Ballina.pdf,2016.07.26,2016.07.26,5969,NaN,NaN
25,2016.07.24,24-Jul-16,2016,Unprovoked,JAPAN,Kochi Prefecture,Irino Beach,Surfing,male,M,29,Lacerations to left leg,N,19h05,NaN,"Japan Times, 7/25/2016",2016.07.24-Japan.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.24-Japan.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.24-Japan.pdf,2016.07.24,2016.07.24,5968,NaN,NaN
26,2016.07.23.b,23-Jul-16,2016,Unprovoked,AUSTRALIA,Tasmania,Clifton Beach,Surfing,Zebulon Critchlow,M,36,Calf bumped but no injury,N,NaN,NaN,"C. Black, GSAF",2016.07.23.b-Critchlow.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.b-Critchlow.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.b-Critchlow.pdf,2016.07.23.b,2016.07.23.b,5967,NaN,NaN
27,2016.07.23.a,23-Jul-16,2016,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,Steve Cutbirth,M,NaN,Lacerations to face and right leg,N,NaN,"Bull shark, 6'","KWTX, 7/23/2016",2016.07.23.a-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.a-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23-Cutbirth.pdf,2016.07.23.a,2016.07.23.a,5966,NaN,NaN
28,2016.07.20,20-Jul-16,2016,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,Scott van Burck,M,31,Laceration to left calf from hooked shark PROVOKED INCIDENT,N,After noon,"reef shark, 1m","Nine News, 7/20/2016",2016.07.20-Burck.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.20-Burck.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.20-Burck.pdf,2016.07.20,2016.07.20,5965,NaN,NaN
29,2016.07.17,17-Jul-16,2016,Boat,USA,Alabama,8 miles off Mobile,Fishing in Alabama Deep Fishing Rodeo,Occupant: Ben Raines,NaN,NaN,"No injury, shark bit trolling motor",N,NaN,"Tiger shark, 10'","Al.com, 7/19/2016",2016.07.17-Gulf.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.17-Gulf.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.17-Gulf.pdf,2016.07.17,2016.07.17,5964,NaN,NaN

In [3]:
# examine columns value types
df.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [4]:
# examine missing value percentages
df.isnull().sum(axis=0)

null_cols = df.isnull().sum()
null_cols[null_cols > 0]
null_cols[null_cols > 0] / len(df)

# Conclusions:
# The percentage of missing values in the columns "Age" and "Species" are above 40%, which could mean that 
# they do not provide meaningful information depending on the type of data they store.
# I am not going to drop them because the missing values don't affect the information held by the non missing 
# values which are still meaningful.

Country                   0.007176
Area                      0.067089
Location                  0.082777
Activity                  0.087951
Name                      0.033378
Sex                       0.094626
Age                       0.447430
Injury                    0.004506
Fatal (Y/N)               0.003171
Time                      0.536215
Species                   0.489653
Investigator or Source    0.002503
href formula              0.000167
href                      0.000501
Unnamed: 22               0.999833
Unnamed: 23               0.999666
dtype: float64

In [5]:
# examine the column names

list(df.columns)

['Case Number',
 'Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex ',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species ',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'Case Number.1',
 'Case Number.2',
 'original order',
 'Unnamed: 22',
 'Unnamed: 23']

In [6]:
# examine values held by every column

df["Case Number"].value_counts()
df["Date"].value_counts()
df["Year"].value_counts()
df["Type"].value_counts()
df["Country"].value_counts()
df["Area"].value_counts()
df["Location"].value_counts()
df["Activity"].value_counts()
df["Name"].value_counts()
df["Sex "].value_counts()
df["Age"].value_counts()
df["Injury"].value_counts()
df["Fatal (Y/N)"].value_counts()
df["Time"].value_counts()
df["Species "].value_counts()
df["Investigator or Source"].value_counts()
df["pdf"].value_counts()
df["href formula"].value_counts()
df["href"].value_counts()
df["Case Number.1"].value_counts()
df["Case Number.2"].value_counts()
df["original order"].value_counts()
df["Unnamed: 22"].value_counts()
df["Unnamed: 23"].value_counts()

Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64

In [7]:
# checking if "pdf" is contained in "href" so we can drop href

counter = []
for i in range(len(df)):
    if any(df['href'].str.contains(df['pdf'][i])):
        counter.append(df['pdf'][i])

len(counter) == len(df)

# all pdf names are contained in the corresponding href column so we can drop the href column safely

True

In [8]:
# check if the Case Number is contained in the pdf file name
cn_counter = []
for i in range(len(df)):
    if any(df['pdf'].str.contains(df['Case Number'][i])):
        cn_counter.append(df['Case Number'][i])

len(cn_counter) / len(df)

# ~ 98% of the case numbers are contained in the pdf name so we can safely drop the case number column

0.9771361815754339

In [9]:
# check if Case Number.1 and Case Number.2 are identical before dropping them
identical_counter = []
for i in range(len(df)):
    if any(df['Case Number.2'].str.contains(df['Case Number.2'][i])):
        identical_counter.append(df['Case Number.2'][i])

len(identical_counter) / len(df)

# Case Number.1 is identical to Case Number.2 so we can drop both columns since we already know that
# the case number is contained in the pdf file name which we are keeping in the data set

1.0

In [10]:
# checking if "original order" column contains related numbers starting from 0 so we can use the column as
# an index column
row_count = len(df)
original_order_values = df["original order"].nunique()
print(row_count == original_order_values)

# the value count for unique values in "original order" column does not match the length of 
# the data set. this means that there are either duplicate or missing values in the "original order" column 
# so we won't use is as an index column

False

In [11]:
# What I am going to do to clean this data set:

# removing duplicate and unrelated information and renaming columns
# 1. removing spaces after the labels "Sex" and "Species" on "Sex " and "Species " columns
# 2. remove the "Case Number" column because the information is already stored in the "pdf" column inside 
# the file name
# 3. removing columns "Case Number.1" and "Case Number.2" because they are duplicates from "Case Number"
# 4. removing columns "Unnamed: 22" and "Unnamed: 23" because they don't contain meaningful information
# 5. removing columns "href formula" and "href" because of duplicate information to "pdf" - the pdf files
# can still be found via Google by file name and most of the links in href are dead anyways
# 6. removing "year" column because the information is already present in the date column
# 7. removing column "original order" because it does not contain meaningful information and can't be 
# used as an index column

# cleaning values in columns
# 1. remove non numeric values from "Age" column
# 2. removing unrelated/non activity values from "Activity" column
# 3. removing quoting characters from values in "Activity" column
# 4. removing non name entries from the "Name" column: "2 males", "male", non alphabetical values, etc.
# 5. capitalize values in the columns "Name", "Location", "Area", "Activity", "Injury", "Species"

# reshaping and combining columns
# 1. sum up "M", "F" and "O(ther)" values in "Sex" table
# 2. combining "Date" and "Time" column into a "Datetime" column, replacing/processing missing values
# 3. group the values "Boat" and "Boating" in the "Type" column into "Boating" because the meaning should 
# be the same
# 4. change "Invalid" values into np.nan values inside of "Type" column

# changing dtypes of columns
# 1. change value types in "Age" column to float
# 2. replacing "Fatal (Y/N)" with boolean values
# 3. converting new "Datetime" column into datetime object

# processing entire data set
# 1. check for duplicate rows
# 2. check for rows with less than 4 valid values inside
# 3. writing cleaned data to a csv file

# what the data set's data types should look like after the clean up:
# Datetime                  datetime
# Type                      object
# Country                   object
# Area                      object
# Location                  object
# Activity                  object
# Name                      object
# Sex                       object
# Age                       float
# Injury                    object
# Fatal (Y/N)               bool
# Species                   object
# Investigator or Source    object
# pdf                       object

In [12]:
# checking for duplicate rows 
duplicate_rows = df[df.duplicated(keep='first')]
duplicate_rows

# there are no duplicate rows we have to process

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

In [13]:
# removing space after the labels "Sex" and "Species" on "Sex " and "Species " columns for improved
# processability (and less key errors)

df = df.rename(columns={"Sex ": "Sex", "Species ": "Species"})
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,2016.09.16,2016.09.15,5989,NaN,NaN

In [14]:
# removing columns "Case Number.1" and "Case Number.2" as well as "Case Number"
# removing columns "Unnamed: 22" and "Unnamed: 23"
# removing columns "href formula" and "href" 
# removing column "year"
# removing column "original order" 

df = df.drop(["Case Number.1", "Case Number.2", "Unnamed: 22", "Unnamed: 23", "href formula", "href", "Case Number", "Year", "original order"], axis=1)
df

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
0,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf
1,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf
2,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf
3,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf
4,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf
5,15-Sep-16,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf
6,11-Sep-16,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf
7,07-Sep-16,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,51,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf
8,06-Sep-16,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,50,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf
9,05-Sep-16,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,12,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf
10,05-Sep-16,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,NaN,"No inury, board broken in half by shark",N,Late afternoon,NaN,"Perth Now, 9/5/2016",2016.09.05.a-Penman.pdf
11,04-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,Austin Moore,M,9,Foot bitten,N,NaN,NaN,"Orlando Sentinel, 9/7/2016",2016.09.04-Moore.pdf
12,01-Sep-16,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,Tyler McQuillen,M,22,Two toes broken & lacerated,N,NaN,White shark,"R. Collier, GSAF",2016.09.01-McQuillen.pdf
13,29-Aug-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sam Cumiskey,M,25,Lacerations to right foot,N,15h00,"Bull shark, 6'","News Channel 8, 8/30/16",2016.08.29.b-Cumiskey.pdf
14,29-Aug-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,37,Minor injury to ankle,N,14h00,NaN,"News Channel 8, 8/30/16",2016.08.29.a-NSB.pdf
15,27-Aug-16,Unprovoked,REUNION,NaN,Boucan Canot,Surfing,Laurent Chardard,M,20,"Right arm severed, ankle severely bitten",N,17h00,"Bull shark, 3.5 m","LaDepeche, 8/29/2016",2016.08.27-Chardard.pdf
16,25-Aug-16,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,David Cassetty,M,49,Minor injury to ankle,N,16h00,NaN,"First Coast News, 7/25/2016",2016.08.25-Cassetty.pdf
17,07-Aug-16,Unprovoked,BAHAMAS,New Providence Island,Nassau,Snorkeling,Johnny Stoch,M,15,Lacerations to left leg,N,NaN,NaN,"ABC, 8/11/2016",2016.08.07-Stoch.pdf
18,06-Aug-16,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,21,"No inury, shark & board collided",N,NaN,"Tiger shark, 10'","SUP, 8/9/2015",2016.08.06-Baxter.pdf
19,04-Aug-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Tyler,M,22,Big toe bitten,N,NaN,Blacktip shark,"News 965, 8/5/2016",2016.06.04-Tyler.pdf
20,29-Jul-16,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,Lacerations to right hand,N,11h30,Blue shark,"Informacion.es, 7/29/2016",2016.07.29-Spain.pdf
21,28-Jul-16,Unprovoked,CHINA,Hong Kong,NaN,Swimming,Justus Franz,M,72,Lacerations to leg,N,NaN,NaN,"Klassick, 7/28/2016",2016.07.28.R-Franz.pdf
22,28-Jul-16,Boat,AUSTRALIA,Western Australia,Near Albany,Kayaking,Ian Watkins,M,NaN,"No injury, shark nudged kayak repeatedly",N,NaN,White shark,"ABC Australia, 7/28/2016",2016.07.28-Watkins.pdf
23,27-Jul-16,Provoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,Warren Sapp,M,43,Laceration to left forearm PROVOKED INCIDENT,N,NaN,"Nurse shark, 4'","Tampa Bay Times, 7/27/2016",2016.07.27-Sapp.pdf
24,26-Jul-16,Unprovoked,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,Curran See & Harry Lake,M,18,"No injury. Leg rope severed, knocked off board by shark",N,12h00,NaN,"Gold Coast Bulletin, 7/28/2016",2016.07.26-Ballina.pdf
25,24-Jul-16,Unprovoked,JAPAN,Kochi Prefecture,Irino Beach,Surfing,male,M,29,Lacerations to left leg,N,19h05,NaN,"Japan Times, 7/25/2016",2016.07.24-Japan.pdf
26,23-Jul-16,Unprovoked,AUSTRALIA,Tasmania,Clifton Beach,Surfing,Zebulon Critchlow,M,36,Calf bumped but no injury,N,NaN,NaN,"C. Black, GSAF",2016.07.23.b-Critchlow.pdf
27,23-Jul-16,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,Steve Cutbirth,M,NaN,Lacerations to face and right leg,N,NaN,"Bull shark, 6'","KWTX, 7/23/2016",2016.07.23.a-Cutbirth.pdf
28,20-Jul-16,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,Scott van Burck,M,31,Laceration to left calf from hooked shark PROVOKED INCIDENT,N,After noon,"reef shark, 1m","Nine News, 7/20/2016",2016.07.20-Burck.pdf
29,17-Jul-16,Boat,USA,Alabama,8 miles off Mobile,Fishing in Alabama Deep Fishing Rodeo,Occupant: Ben Raines,NaN,NaN,"No injury, shark bit trolling motor",N,NaN,"Tiger shark, 10'","Al.com, 7/19/2016",2016.07.17-Gulf.pdf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,World War II,Sea Disaster,PAPUA NEW GUINEA,Madang Province,Off Lae,"Aircraft ditched in the sea, swimming ashore",male,M,NaN,Shark bumped him,N,NaN,NaN,"V.M. Coppleson (1962), p.257",ND-0031-Ditched-Aircrat.pdf
5963,Before 1905,Unprovoked,BURMA,NaN,NaN,Bathing,male,M,NaN,Fatal x 2,Y,NaN,NaN,"Massillon Independent, 3/1905",ND-0030-Burma.pdf
5964,A few years before 1938,Boat,ITALY,Adriatic Sea,NaN,Wooden fishing boat,Occupant: Mr. Maciotta,M,NaN,No injury to occupant; shark capsized boat,N,NaN,White shark,A. De Maddalena; Anon. (1938),ND-0028-Maciotta.pdf
5965,No date,Unprovoked,GREECE,Dodecanese Islands,Symi Island,Sponge diving,Psarofa-gomenes,M,NaN,Head bitten,N,NaN,NaN,M. N. Kalafatas,ND-0027-Psarofagomenos.pdf
5966,Early 1930s,Unprovoked,BELIZE,NaN,NaN,Standing,a servant,M,16,FATAL,Y,NaN,12' tiger shark,Mitchell-Hedges,ND-0026-Belize.pdf
5967,Before 1927,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,NaN,NaN,UNKNOWN,NaN,NaN,H. Capper,ND-0025-Sgt-SpectacleIsland.pdf
5968,Between 1918 & 1939,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,NaN,FATAL,Y,NaN,NaN,G. Van Grevelynghe,ND-0024-Barachois-Reunion.pdf
5969,No date,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,Madelaine Dalton,F,NaN,Ankle bitten,N,NaN,NaN,"L. Green in Tavern of the Seas, p.182",ND-0023-Dalton.pdf
5970,No date,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,Jaringoorli,M,NaN,Lacerations to thigh,N,NaN,NaN,"Adelaide Advertiser, 1/11/1940",ND-0022-Jaringoorli.pdf
5971,No date,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a wharf,Indian boy,M,NaN,"FATAL, leg severed",Y,NaN,NaN,"L. Green in South African Beachcomber, p.97",ND-0021-DurbanIndianBoy.pdf
5972,1920 -1923,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.241",ND-0020-3JapaneseDivers.pdf
5973,Before 1921,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,NaN,2-inch lacerations,N,NaN,NaN,"T. Helm, p.219",ND-0019-Kelley.pdf
5974,Before 1911,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,V?ng Tu,Swimming around anchored ship,crewman,M,NaN,Foot bitten,N,NaN,NaN,"Daily Kennebec Journal, 3/27/1911",ND-0018-Vietnam.pdf
5975,Before 1921,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,NaN,FATAL,Y,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/1921; M. Levine, GSAF",ND-0017-alongside-ship.pdf
5976,Before 1921,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,NaN,FATAL,Y,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/1921; M. Levine, GSAF",ND-0016- Durban-PostOffice.pdf
5977,Before 1917,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 survived",Y,NaN,NaN,"Fijian Society papers presented April 17, 1918; W.E., p.191",ND-0015-FijianCanoe.pdf
5978,Before 17-Jul-1916,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,"""Lost leg""",N,NaN,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf
5979,No date (3 days after preceding incident) & prior to 19-Jul-1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught with the man's loincloth in its gut shortly afterwards.",Y,NaN,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf
5980,Before 19-Jul-1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",Y,NaN,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf
5981,Before 1911,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,Foot severed,N,NaN,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911",ND-0011-Masury.pdf
5982,Circa 1862,Unprovoked,USA,Hawaii,Puna,NaN,A chiefess,F,NaN,Ankle bitten,N,NaN,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf
5983,Before 1906,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & carried off by shark",Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Louis Becke",ND-0009-boy-Australia.pdf
5984,Before 1906,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Louis Becke",ND-0008-Fisherman2-Australia.pdf
5985,Before 1906,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Louis Becke",ND-0007 - Fisherman-Australia.pdf
5986,Before 1906,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,Y,NaN,Said to involve a grey nurse shark that leapt out of the water and seized the boy but species identification is questionable,"L. Becke in New York Sun, 9/9/1906; L. Schultz & M. Malin, p.523",ND-0006-ArabBoy-Prymount.pdf
5987,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf
5988,Before 1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf
5989,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf
5990,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf
5991,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away the lower extremities""",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf

In [15]:
# remove non numeric values from "Age" column
df["Age"] = pd.to_numeric(df["Age"], errors='coerce')
df.groupby("Age").nunique().head()

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
Age,,,,,,,,,,,,,,,
1.0,2,2,2,1,0,1,2,2,1,2,1,0,0,2,2
3.0,4,3,4,3,2,3,3,2,1,3,2,0,1,4,4
5.0,7,2,3,5,7,5,7,2,1,7,2,3,3,7,7
6.0,14,2,3,6,14,7,13,2,1,14,2,9,6,13,14
7.0,21,3,7,11,21,10,15,2,1,20,2,8,10,20,21

In [16]:
# removing unrelated values from "Activity" column
invalid_entries = [".", ",", " ", "  ", "   ", "    ", "male"]
for entry in invalid_entries:
    df = df[df["Activity"] != entry]

df.groupby("Activity").nunique()
df["Activity"].value_counts().head()

Surfing         904
Swimming        819
Fishing         414
Spearfishing    321
Bathing         153
Name: Activity, dtype: int64

In [17]:
# removing quotes from values in "Activity" column to improve 'processability'
df["Activity"] = df["Activity"].str.replace("\"", "").str.replace("\'", "")
df.groupby("Activity").nunique()

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
Activity,,,,,,,,,,,,,,,
a canoe was pursuing a schooner that had forcibily abducted 5 young girls,1,1,1,0,0,1,0,1,0,1,1,0,0,1,1
12 of the Penangs crew were returning to the ship when their 12 dinghy capsized,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1
13 men in the water after sailboat capsized & sank,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1
14 m prawn trawler New Venture capsized & sank in heavy seas Three people in the water,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"1446-ton Norwegian barque Errol, bound from Peru to Newcastle with 22 on board wrecked. Survivors shelterd on the wreck of the Annasona. Subsequently the Master, his wife & 4 children perished along with several crew. Survivors (5) were rescued 7/12/1909",1,1,1,1,1,1,1,1,0,1,1,0,0,1,1
"16 catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
17 Maldivians adrift in open boat for 31 days,1,1,1,1,0,1,1,1,1,1,1,0,0,1,1
"2 messboys (Jeppsen) & Tony Latona (13) were playing on the afterdeck of the Danish ship Grete Maersk. Jeppsen fell overboard, Latona threw a lifebelt then jumped in to help him. Ship didnt notice they were missing",1,1,1,1,1,1,1,1,1,1,1,0,0,1,1
25-foot cabin cruiser Happy Jack sank in heavy seas,1,1,1,1,1,1,0,0,0,1,1,1,0,1,1
3 men & 2 boys picked up wearing life jackets and with inner tube,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1
"3,909-ton Panamanian freighter Chieh Lee sank in a typhoon",1,1,1,1,0,1,0,1,0,1,1,0,0,1,1
3-masted steel barque Glenbank foundered during a cyclone,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1
3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1
4 men were bathing,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1
40 fishing boat sank,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
43-ton schooner Irene capsized & sank,1,1,1,1,0,1,1,1,0,1,1,0,0,1,1
63 fishing boat Sno Bay foundered,1,1,1,0,0,1,1,0,0,1,1,0,0,1,1
"90 European civilians, many women & children, were placed on the deck of a Japanese submarine that submerged when it was well offshore",1,1,1,1,1,1,1,0,0,1,1,1,0,1,1
A 210-ton brig was sunk by a Japanese submarine. Some of the survivors were machine-gunned & some were taken by sharks,1,1,1,0,0,1,1,1,0,1,1,0,0,1,1
"A 75-ton Japanese fishing ship was sunk by Chinese Nationalist gunboat, shipwrecked men were clinging to debris",1,1,1,0,1,1,1,1,0,1,1,0,0,1,1
A barque wrecked,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1
A dhow capsized,1,1,1,1,0,1,1,0,0,1,1,0,0,1,1
A father bathing his smallest daughter when the shark bumped her out of his arms and carried her into deep water,1,1,1,1,0,1,1,1,0,1,1,0,1,1,1
A group of survivors on a raft for 17-days,1,1,0,0,0,1,1,0,0,1,1,1,1,1,1
A junk foundered,1,1,1,0,1,1,0,1,0,1,1,0,0,1,1
A mans head found in a shark caught by British steamer Syria,1,1,1,0,0,1,0,1,0,1,1,0,0,1,1
Abalone diving using Hookah (near calving whales),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Abalone diving using Hookah (resting on the surface),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Abandoning burning ship Captain George in raging seas,1,1,1,0,1,1,1,1,0,1,1,1,0,1,1
Abandoning burning steamship Don Juan,1,1,1,0,1,1,0,1,0,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wreck of the schooner Pohoiki,1,1,1,1,1,1,3,1,0,3,2,0,0,2,3
Wreck of the steamship Birkenhead,1,1,1,1,1,1,0,1,0,1,1,1,1,1,1
Wreck of the steamship Sultan of Bombay,1,1,1,1,1,1,1,0,0,1,1,0,0,1,1
Wreck of the tug Magellan,1,1,1,1,1,1,1,1,0,1,1,1,0,1,1
"Yacht Gooney Bird foundered, 4 survivors on raft",1,1,1,1,1,1,0,0,0,1,1,0,0,1,1
Yacht of Michael Howell capsized,1,1,1,1,1,1,1,0,0,1,1,0,0,1,1
Yacht race,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1
"Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14 boat, Boat apparently sank, debris recovered but his son & boat were never found",1,1,1,1,1,1,1,1,0,1,1,0,1,1,1
a corsairs boat was overturned,1,1,1,1,0,1,0,1,0,1,1,0,0,1,1
bathing,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1
boat capsized,3,2,3,3,3,1,3,1,0,3,1,2,0,3,3
boat capsized during filming,1,1,1,0,0,1,1,1,0,1,1,0,1,1,1
boat from City of Naples capsized,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1
boat from ship Josephine capsized in squall,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1
boat from the Austrian ship Elizabeth,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1
boat with 46 people on board capsized,1,1,1,1,1,1,0,0,0,1,1,0,1,1,1
canoeing,1,1,1,1,1,1,1,0,0,1,1,0,0,1,1
cargo ship Southern Isle sank at 04h00,1,1,1,1,1,1,0,0,0,1,1,0,0,1,1
fishing boat exploded & sank,1,1,1,1,1,1,2,1,2,2,1,0,0,1,2
native boats sunk in storm,1,1,1,1,1,1,0,0,0,1,1,0,0,1,1
preparing to go skin diving,1,1,1,1,1,1,1,1,0,1,1,1,0,1,1
pcheur de bichiques,1,1,1,1,1,1,1,1,0,1,1,1,0,1,1
seaplane Columbus ditched in the sea,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1
ship M.V. Rizal sank during typhoon,1,1,1,1,1,1,1,1,0,1,1,1,0,1,1
ship William Penn grounded & broke apart,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1
ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover,1,1,1,0,0,1,1,1,0,1,1,0,1,1,1
small boat,1,1,1,1,1,1,1,0,0,1,1,0,0,1,1
wreck of the State Oil Company ship Permina,1,1,1,1,1,1,0,0,0,1,1,0,0,1,1
yachting accident,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1
yachtsman in a zodiac,1,1,1,1,1,1,0,1,0,1,1,0,0,1,1

In [18]:
# removing non name entries from the "Name" column: numeric values
df["Name"] = np.where(df["Name"].str.contains("[0-9]+", regex=True), np.nan, df["Name"])

# removing quotes from values in "Name" column to improve 'processability'
df["Name"] = df["Name"].str.replace("\"", "").str.replace("\'", "")

# capitalizing name column now in order to simplify the replacing process
df["Name"] = df["Name"].str.title()

# replacing the most common non name values with nan: "Male", "Female", "Boy", "Girl", etc. is present in the
# "Sex" column and can be replaced with nan, "Unknown" and "Anonymous" should mean the same and can be
# replaced with nan
names_to_replace = ["Male", " Male", "Female", "Males", "Girl", "Boat", "Anonymous", "Unknown", "Woman", "Man", "Boy"]
for name in names_to_replace:
    df["Name"] = np.where(df["Name"] == name, np.nan, df["Name"])

df["Name"].value_counts().head()

Sailor          10
Child           10
A Sailor         7
Fisherman        6
Unidentified     6
Name: Name, dtype: int64

In [19]:
# sum up "M", "F" and "O(ther)" values in "Sex" table
df["Sex"] = np.where(df["Sex"] == "M ", "M", df["Sex"])
df["Sex"] = np.where((df["Sex"] != "M") & (df["Sex"] != "F") & (df["Sex"]), "O", df["Sex"])
df.groupby("Sex").nunique()

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
Sex,,,,,,,,,,,,,,,
F,547,5,65,140,474,159,480,1,67,424,4,113,216,503,585
M,4240,6,186,651,3243,1235,4046,1,79,2902,5,320,1303,3948,4826
O,2,2,2,2,2,2,1,1,1,2,1,1,2,2,2

In [20]:
# group the values "Boat" and "Boating" in the "Type" column into "Boating"
df["Type"] = np.where((df["Type"] == "Boat") | (df["Type"] == "Boating"), "Boating", df["Type"])
# changing "Invalid" values to nan
df["Type"] = np.where(df["Type"] == "Invalid", np.nan, df["Type"])
df.groupby("Type").nunique()

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
Type,,,,,,,,,,,,,,,
Boating,304,1,39,66,263,103,152,3,20,259,3,39,160,258,309
Provoked,546,1,63,152,470,219,462,2,57,522,5,76,324,502,555
Sea Disaster,202,1,62,113,143,187,116,2,29,161,3,33,26,199,219
Unprovoked,3812,1,165,575,2913,937,3672,3,78,2306,5,317,1097,3470,4377

In [21]:
# change date column to datetime object
# removing string prefixes
df["Date"] = df["Date"].str.replace("Reported ", "")

# replace common non convertable date formats
dates_to_replace = {"16-Aug--2011": "16-Aug-2011",
                   "11-Aug--2011": "11-Aug-2011",
                   "190Feb-2010": "19-Feb-2010",
                   "Sep-08": "01-Sep-08"}

for date, replacement in dates_to_replace.items():
    df["Date"] = np.where(df["Date"] == date, replacement, df["Date"])

# convert date string into datetime object to get rid of values which can not be converted to datetime e.g. "World War II"
df["Date"] = pd.to_datetime(df["Date"], errors = "coerce")
# convert datetime object back to string to be able to concat it with time string in the next step
df["Date"] = np.where(df["Date"] != pd.NaT, df["Date"].dt.strftime('%d-%m-%Y'), df["Date"])

df["Date"].value_counts().head()

NaT           363
01-01-1957     11
01-01-1942      9
01-01-1956      8
01-01-1958      7
Name: Date, dtype: int64

In [22]:
# process "Time" column: convert most common general time spans e.g. "Afternoon" into hh:mm format by 
# assuming mean time point of each period, convert these values to dt.time object and replacing 
# the rest with pd.NaT

times_to_replace = {"Afternoon": "15h30", 
                    "After noon": "15h30", 
                    "Midnight": "00h00", 
                    "Morning": "09h00",
                    "Morning ": "09h00", 
                    "Night": "02h00", 
                    "Evening": "19h00", 
                    "Late afternoon": "17h00", 
                    "Sometime between 06:00 & 08:oo": "07h00", 
                    "Early afternoon": "14h00", 
                    "07:00 - 08:00": "07h30", 
                    "09:00 - 09:30": "09h15", 
                    "830": "08h30", 
                    "Just before noon": "11h30", 
                    "Early morning": "06h00", 
                    "Dawn": "19h30",
                    "Midday": "12h00",
                    "AM": "10h00",
                    "A.M.": "10h00",
                    "Dusk": "06h00",
                    "Lunchtime": "12h00",
                    "15j45": "15h45",
                    "500": "05h00",
                    "Before 07:00": "06h30",
                    "10:00 -- 11:00": "10h30",
                    '"Just before 11:00"': "10h45"}

for span, replacement in times_to_replace.items():
    df["Time"] = np.where(df["Time"] == span, replacement, df["Time"])

# replacing time seperator "h" with ":"
df["Time"] = df["Time"].str.replace("h", ":")

# combining columns "Date" and "Time" into a "Datetime" column
df["Datetime"] = np.where(df["Date"] != "NaT", (df["Date"] + "-" + df["Time"]), df["Date"])

#df["Datetime"] = df["Date"] + "-" + df["Time"]
df["Datetime"] = pd.to_datetime(df["Datetime"], errors = "coerce")
df["Datetime"].value_counts().head()

# dropping the "Date" and "Time" columns because the information is now combined into a datetime object in
# the "Datetime" column
df = df.drop(["Date", "Time"], axis=1)
df.head()

,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,Datetime
0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,NaN,M,16.0,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,18-09-2016-13:00
1,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36.0,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,18-09-2016-11:00
2,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,NaN,M,43.0,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,18-09-2016-10:43
3,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,NaN
4,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,NaN,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,NaN

In [23]:
# replacing "Fatal (Y/N)" with boolean values
# first clean up the options
df["Fatal (Y/N)"] = np.where((df["Fatal (Y/N)"] == "N ") | (df["Fatal (Y/N)"] == "n") | (df["Fatal (Y/N)"] == " N"), "N", df["Fatal (Y/N)"])
df["Fatal (Y/N)"] = np.where((df["Fatal (Y/N)"] == "#VALUE!") | (df["Fatal (Y/N)"] == "UNKNOWN") | (df["Fatal (Y/N)"] == "F"), np.nan, df["Fatal (Y/N)"])

# then change column type and assign new values according to previous value
df["Fatal (Y/N)"] = np.where(df["Fatal (Y/N)"] == "Y", True, df["Fatal (Y/N)"])
df["Fatal (Y/N)"] = np.where(df["Fatal (Y/N)"] == "N", False, df["Fatal (Y/N)"])
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].astype(bool)
df.dtypes

Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                       float64
Injury                     object
Fatal (Y/N)                  bool
Species                    object
Investigator or Source     object
pdf                        object
Datetime                   object
dtype: object

In [24]:
# capitalize values in the columns "Location", "Area", "Activity", "Injury", "Species"
values_to_capitalize = ["Injury"]
values_to_title = ["Location", "Area", "Species", "Activity"]

# capitalizing eyery word in "Location", "Area", "Species", "Activity"
for col in values_to_title:
    df[col] = df[col].str.title()

# capitalizing first word in "Injury"
for col in values_to_capitalize:
    df[col] = df[col].str.capitalize()

df.head(10)

,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,Datetime
0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,NaN,M,16.0,Minor injury to thigh,False,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,18-09-2016-13:00
1,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36.0,Lacerations to hands,False,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,18-09-2016-11:00
2,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,NaN,M,43.0,Lacerations to lower leg,False,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,18-09-2016-10:43
3,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,False,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,NaN
4,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,NaN,M,NaN,No injury: knocked off board by shark,False,2 M Shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,NaN
5,Boating,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,NaN,Shark rammed boat. no injury to occupant,False,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,NaN
6,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,NaN,M,NaN,Minor injury to arm,False,3' To 4' Shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,11-09-2016-15:15
7,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,NaN,F,51.0,Severe lacerations to shoulder & forearm,False,"Tiger Shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,07-09-2016-14:30
8,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite Surfing,David Jewell,M,50.0,Fatal,True,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,06-09-2016-15:40
9,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie Boarding,Rylie Williams,F,12.0,Lacerations & punctures to lower right leg,False,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,05-09-2016-17:00

In [25]:
# dropping rows with less than 4 meaningful values out of 14 (< 30% of meaningful values)

# first replacing "NaN" and "NaT" values of string type with np.nan in case there are any string values present
df.replace(["NaN", 'NaT'], np.nan, inplace = True)

# then dropping all rows containing less than 5 non NaN values because these rows 
df = df.dropna(thresh=4)

In [26]:
# writing cleaned data into new csv file
df.to_csv("GSAF5_clean.csv")